{{#pagenavigation}}
    <nav>
        <ul class="pagination justify-content-center">
            <li class="page-item">
                <a class="page-link" href="{{prevUrl}}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>
            {{#pageUrls}}
                <li class="page-item"><a class="page-link" href="{{url}}">{{pageNum}}</a></li>
            {{/pageUrls}}
            <li class="page-item">
                <a class="page-link" href="{{nextUrl}}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
        </ul>
    </nav>
{{/pagenavigation}}