{{>layout/header}}
{{>layout/navigation}}
<h1>사업체 수정</h1>

<div class="col-md-12">
    <div class="col-md-4">
        {{>layout/company-form}}
        <a href="/" role="button" class="btn btn-secondary">취소</a>
        <button type="button" class="btn btn-primary" id="btn-update">수정완료</button>
        <button type="button" class="btn btn-danger" id="btn-delete">삭제</button>
    </div>
</div>
{{>layout/footer}}