{{>layout/header}}
{{>layout/navigation}}

<h1>사업체 등록</h1>

<div class="col-md-12">
    <div class="col-md-4">
        {{>layout/company-form}}
        <a href="/" role="button" class="btn btn-secondary">취소</a>
        <button class="btn btn-primary" id="btn-save">등록</button>
    </div>
</div>
{{>layout/footer}}