{{>layout/header}}
{{>layout/navigation}}
<!--<h1>EasyBooks main page</h1>-->
<div class="col-md-12">
    <table class="table table-horizontal table-bordered">
        <thead class="thead-strong">
        <tr>
            <th>ID</th>
            <th>사업자번호</th>
            <th>사업자명</th>
            <th>대표</th>
        </tr>
        </thead>
        <tbody id="tbody">
        {{#companys}}
            <tr>
                <td>{{id}}</td>
                <td>{{number}}</td>
                <td><a href="/company/update/{{id}}">{{name}}</a></td>
                <td>{{owner}}</td>
            </tr>
        {{/companys}}
        </tbody>
    </table>
    <table class="table table-horizontal table-bordered">
        <thead class="thead-strong">
        <tr>
            <th>ID</th>
            <th>날짜</th>
            <th>사업자번호</th>
            <th>품명</th>
            <th>총액</th>
        </tr>
        </thead>
        <tbody id="tbody">
        {{#ledgers}}
            <tr>
                <td><a href="/ledger/update/{{id}}">{{id}}</a></td>
                <td>{{date}}</td>
                <td>{{company.number}}</td>
                <td>{{item}}</td>
                <td>{{total}}</td>
            </tr>
        {{/ledgers}}
        </tbody>
    </table>
</div>
{{>layout/footer}}