{{>layout/header}}
{{>layout/navigation}}
<h1>송장 수정</h1>

<div class="col-md-12">
    <div class="col-md-8">
        <form>
            {{>layout/company-info}}
            {{>layout/ledger-info}}
        </form>
        <a href="/" role="button" class="btn btn-secondary">취소</a>
        <button type="button" class="btn btn-primary" id="btn-ledger-update">등록</button>
        <button type="button" class="btn btn-danger" id="btn-ledger-delete">삭제</button>
    </div>
</div>
{{>layout/footer}}