{{>layout/header}}
<h1>송장 등록</h1>

<div class="col-md-12">
    <div class="col-md-4">
        <form>
            <div class="form-group">
                <label for="companyNumber">사업자 번호</label>
                <input type="text" class="form-control"
                       id="companyNumber" placeholder="123-456-7890">
            </div>
            <div class="form-group">
                <label for="type">타입</label>
                <input type="radio" id="sell" class="form-control" name="type" value="Sell" checked>
                <label for="sell">매출</label>
                <input type="radio" id="purchase" class="form-control" name="type" value="Purchase">
                <label for="purchase">매입</label>
            </div>
<!--            <div class="form-group">-->
<!--                <label for="owner">날짜</label>-->
<!--                <input type="text" class="form-control"-->
<!--                       id="owner">-->
<!--            </div>-->
            <table class="table table-horizontal table-bordered">
                <thead class="thead-strong">
                <tr>
                    <th>날짜</th>
                    <th>품명</th>
                    <th>단가</th>
                    <th>수량</th>
                    <th>가격</th>
                    <th>부가세</th>
                    <th>총액</th>
                </tr>
                </thead>
                <tbody id="tbody">
                    <tr>
                        <td><input type="date" class="form-control" id="date"></td>
                        <td><input type="text" class="form-control" id="item"></td>
                        <td><input type="text" class="form-control" id="unitPrice"></td>
                        <td><input type="text" class="form-control" id="quantity"></td>
                        <td><input type="text" class="form-control" id="price"></td>
                        <td><input type="text" class="form-control" id="VAT"></td>
                        <td><input type="text" class="form-control" id="total"></td>
                    </tr>
                </tbody>
            </table>
        </form>
        <a href="/" role="button" class="btn btn-secondary">취소</a>
        <button type="button" class="btn btn-primary" id="btn-ledger-save">등록</button>
    </div>
</div>
{{>layout/footer}}