{{>layout/header}}
{{>layout/navigation}}
<h1>입/출금 내역 등록</h1>

<div class="col-md-12">
    <div class="col-md-4">
        <button id="btn-company-search">사업자 찾기</button>
    </div>
    <div class="col-md-12">
        <form>
            {{>layout/company-info}}
            {{>layout/transaction-info}}
        </form>
        <a href="/" role="button" class="btn btn-secondary">취소</a>
        <button type="button" class="btn btn-primary" id="btn-transaction-save">등록</button>
    </div>
</div>
{{>layout/footer}}